:root {
    --bg-dark: #111213;
    --fg-light: #d6d6d6;
    --blue-accent: #7da6ff;
}

body {
    padding: 0 10px;
    margin: 50px auto;
    max-width: 650px;
    background-color: var(--bg-dark);
    color: var(--fg-light);
    font-family:
        Helvetica Neue, Helvetica, Arial, sans-serif;

    font-size: 1rem;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
}

#maincontent {
    max-width: 45em;
    margin: 15px auto;
}

a {
    color: var(--blue-accent);
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}
